In [10]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score, precision_score, recall_score, classification_report, roc_curve, roc_auc_score
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [11]:
students = "./data/studentdras.csv"

In [12]:
students_df = pd.read_csv(students)

In [13]:
students_df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [14]:
X_data = students_df.drop('Target', axis=1)

y_data = students_df['Target']
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, shuffle=True)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3539, 36)
(885, 36)
(3539,)
(885,)

In [18]:
n_trees = [400, 500, 600]
sqrt_n_features = sqrt(X_train.shape[1])
max_depths = [(int)(0.5*sqrt_n_features), (int)(sqrt_n_features), (int)(2*sqrt_n_features)]
best_model = None
for trees in n_trees:
    for depth in max_depths:
        clf = RandomForestClassifier(n_estimators=trees, max_depth=depth, random_state=0, oob_score=True)
        clf.fit(X_train, y_train)
        oob_score = clf.oob_score_
        print(f"Trees: {trees}, Max Depth: {depth}, OOB Score: {oob_score}")

Trees: 400, Max Depth: 3, OOB Score: 0.7230856174060469
Trees: 400, Max Depth: 6, OOB Score: 0.7586888951681265
Trees: 400, Max Depth: 12, OOB Score: 0.7699915230291042
Trees: 500, Max Depth: 3, OOB Score: 0.7233681831025713
Trees: 500, Max Depth: 6, OOB Score: 0.7592540265611755
Trees: 500, Max Depth: 12, OOB Score: 0.7705566544221532
Trees: 600, Max Depth: 3, OOB Score: 0.722520486012998
Trees: 600, Max Depth: 6, OOB Score: 0.7584063294716021
Trees: 600, Max Depth: 12, OOB Score: 0.7697089573325798